:root {
  /* size 
   ---------------------------------------- */
  --height: 36px;

  /* background colors 
   ---------------------------------------- */
  --background-base: var(--background, #222);
  --background-workspace: var(--color1, #222);
  --background-load: var(--background, #222);
  --background-network: var(--background, #222);
  --background-date: var(--background, #222);
  --background-battery: var(--background, #222);
  --background-clock: var(--color6, #222);

  /* foreground colors 
   ---------------------------------------- */
  --foreground-workspace: var(--color0, #fff);
  --foreground-load: var(--color1, #fff);
  --foreground-network: var(--color8, #fff);
  --foreground-date: var(--color8, #fff);
  --foreground-battery: var(--color6, #fff);
  --foreground-clock: var(--color0, #fff);

  /* alignment 
   ---------------------------------------- */
  --alignment-top: 0px;
  --alignment-bottom: auto;

  /* opacity 
   ---------------------------------------- */
  --opacity: 1;
  --opacity-inner: 1;

  /* padding 
   ---------------------------------------- */
	/*--padding-left: calc(*/
	/*var(--landscape-width) - 58px*/
	/*);*/
	--padding-left: 0px;
  --padding-right: 0px;
  --padding-top: 0px;

  /* shadow 
   ---------------------------------------- */
  --shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0);
  --shadow-inner: 0px 3px 9px 3px rgba(0, 0, 0, 0);

  /* border 
   ---------------------------------------- */
  --border: 0px;
  --border-radius: 0px;
  --border-radius-inner: 0px;

  /* typography 
   ---------------------------------------- */
  --font: OperatorMonoNerdFontComplete-Book, Menlo, Monospace;
  --font-size: 12px;
  --text-padding: 2ch;

  /* xanthia
   -------------------------------------------------------------- */

  /* size 
   ---------------------------------------- */
  --height-xanthia: calc(
  var(--height) - var(--border) * 2
  );    
  --height-xanthia-image: 200px;

  /* color + opacity 
   ---------------------------------------- */
  --background-xanthia: var(--background);
  --foreground-xanthia: var(--color5);
  --opacity-xanthia: 1;
  --time-visible-xanthia: auto;

  /* alignment - use 0 or auto to position 
   ---------------------------------------- */
  --alignment-right-xanthia: 0px;
  --alignment-left-xanthia: auto;
  --alignment-right-xanthia-image: 0px;
  --alignment-left-xanthia-image: auto;

  /* padding from edges of screen 
   ---------------------------------------- */
  --margin-top-xanthia: calc(
    var(--border) + var(--padding-top)
  );
  --margin-horizontal-xanthia: calc(
    var(--padding-right) + var(--border) * 3 +
      var(--text-padding) * 4 + 14ch
  );
  --margin-top-xanthia-image: calc(var(--height) + 10px + var(--padding-top) * 2);
  --margin-horizontal-xanthia-image: 10px;

  /* typography 
   ---------------------------------------- */
  --font-xanthia: OperatorMonoNerdFontComplete-Book, Menlo, Monospace;
  --font-size-xanthia: var(--font-size);

  /* border 
   ---------------------------------------- */
  --border-radius-right-xanthia: var(--border-radius-inner);
  --border-radius-left-xanthia: var(--border-radius-inner);
  --border-radius-right-xanthia-image: 3px;
  --border-radius-left-xanthia-image: 3px;
  --border-xanthia-image: var(--border);
  --shadow-xanthia: var(--shadow-inner);
  --shadow-xanthia-image: var(--shadow-inner);

  /* landscape
   -------------------------------------------------------------- */

	/*--background-landscape: ;*/
	/*--border-landscape: ;*/
	/*--margin-landscape: ;*/
	/*--border-radius-landscape: ;*/
	/*--shadow-landscape: ;*/
}
