/* Pecan is a bar for Ubersicht */
/* Written by Daniel Neemann */
:root {
  /* Choose background colors, ordered from left to right */
  /* Set --pecan-bg-pecandate to "none" to have date's background same as bar */
  --pecan-bg: #222020;
  --pecan-bg-pecanworkspace: #b09e9e;
  --pecan-bg-pecannetwork: none;
  --pecan-bg-pecandate: none;
  --pecan-bg-pecanbattery: none;
  --pecan-bg-pecanclock: none;
  /* Choose foreground colors */
  --pecan-fg-pecanworkspace: #222020;
  --pecan-fg-pecannetwork: #595757;
  --pecan-fg-pecandate: #c7c7c7;
  --pecan-fg-pecanbattery: #bab4ab;
  --pecan-fg-pecanclock: #b3ada3;
  /* Opacity.  Change --pecan-opacity-center to 0 in order to hide date */
  /* --pecan-opacity affects --pecan-border, so set it to 0 if you would like */
  /* for every widget to appear independent. */
  --pecan-opacity: 0.8;
  --pecan-opacity-inner: 1;
  --pecan-opacity-center: 1;
  /* Shadow. */
  --pecan-shadow: 0px 4px 10px 4px rgba(0,0,0,0.15);
  --pecan-shadow-inner: 0px 1px 1px 1px rgba(0,0,0,0.0);
  /* Bar's total height including --pecan-border and excluding padding */
  --pecan-height: 36px;
  /* Entire bar's outer padding (use --pecan-border for space between widgets) */
  --pecan-padding-left: 0px;
  --pecan-padding-right: 0px;
  --pecan-padding-v: 0px;
  /* Border size.  Also functions as space between widgets, */
  /* so set --pecan-opacity to 0 if you want widgets to appear independent */
  --pecan-border: 0px;
  /* Rounded corner radius */
  /* Inner radius is best suited for when widgets appear independent */
  /* by setting --pecan-opacity to 0 */
  --pecan-border-radius: 0px;
  --pecan-border-radius-inner: 5px;
  /* Inner-horizontal padding.  --pecan-height determines inner-vertical padding */
  --pecan-text-padding: 3ch;
  /* Alignment */
  /* Set 0 to where you want the bar aligned */
  /* and "auto" where you don't */
  --pecan-alignment-top: 0;
  --pecan-alignment-bottom: auto;
  /* Mono font recommended (alignment depends on character width) */
  --pecan-font: SF Mono, Menlo;
  --pecan-font-size: 10px;
  --pecan-font-style: none;
  /* Xanthia */
  /* If Xanthia is not installed then these values will be ignored */
  --pecan-xanthia-bg: none;
  --pecan-xanthia-fg: #a69e92;
  /* This is padding from edge of screen */
  --pecan-xanthia-horizontal: calc(var(--pecan-padding-right) + calc(var(--pecan-text-padding) * 4) + 14ch + calc(3 * var(--pecan-border)));
  --pecan-xanthia-vertical: calc(var(--pecan-border) + var(--pecan-padding-v));
  /* These are maximum sizes */
  --pecan-xanthia-width: 73ch;
  --pecan-xanthia-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  --pecan-xanthia-border-radius: var(--pecan-border-radius-inner);
  --pecan-xanthia-shadow: var(--pecan-shadow-inner);
}

/* Get monitor width */
.screen {
  width: 100vw;
  height: 100vh;
}

/* Bar background */
.pecanbackground {
  background-color: var(--pecan-bg);
  display: block;
  position: absolute;
  height: var(--pecan-height);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  margin-top: var(--pecan-padding-v);
  margin-right: var(--pecan-padding-right);
  margin-bottom: var(--pecan-padding-v);
  margin-left: var(--pecan-padding-left);
  opacity: var(--pecan-opacity);
  z-index: -1;
  box-shadow: var(--pecan-shadow);
  border-top-left-radius: calc(var(--pecan-border) + 1px + var(--pecan-border-radius));
  border-top-right-radius: calc(var(--pecan-border) + 1px + var(--pecan-border-radius));
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
}

/* Workspace indicator -- far left */
.pecanworkspace {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-pecanworkspace);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-pecanworkspace);
  opacity: var(--pecan-opacity-inner);
  top: var(--pecan-alignment-top);
  right: auto;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  padding: 0px var(--pecan-text-padding);
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-left: calc(var(--pecan-padding-left) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* Network bandwidth -- 2nd to left */
.pecannetwork {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  background-color: var(--pecan-bg-pecannetwork);
  opacity: var(--pecan-opacity-inner);
  color: var(--pecan-fg-pecannetwork);
  position: absolute;
  display: inline-block;
  top: var(--pecan-alignment-top);
  right: auto;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  padding: 0px var(--pecan-text-padding);
  margin-top: calc(var(--pecan-border) + var(--pecan-padding-v));
  margin-bottom: calc(var(--pecan-border) + var(--pecan-padding-v));
  margin-left: calc(var(--pecan-padding-left) + calc(var(--pecan-text-padding) * 2) + 1ch + calc(var(--pecan-border) * 2));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* Date -- third to left -- set --pecan-opacity-center to 0 to hide */
.pecandate {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-pecandate);
  background-color: var(--pecan-bg-pecandate);
  opacity: var(--pecan-opacity-center);
  position: absolute;
  display: inline-block;
  padding: 0px var(--pecan-text-padding);
  width: auto;
  top: var(--pecan-alignment-top);
  bottom: var(--pecan-alignment-bottom);
  left: 50%;
  transform: translate(-50%);
  margin: var(--pecan-border);
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  text-align: center;
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* This is a container to align the center widget */
.holder {
  background-color: none;
  display: inline-block;
  position: absolute;
  height: var(--pecan-height);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  margin-top: var(--pecan-padding-v);
  margin-right: var(--pecan-padding-right);
  margin-bottom: var(--pecan-padding-v);
  margin-left: var(--pecan-padding-left);
}

/* Battery percentage -- 4th to left */
.pecanbattery {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-pecanbattery);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-pecanbattery);
  opacity: var(--pecan-opacity-inner);
  padding: 0px var(--pecan-text-padding);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: auto;
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-right: calc(var(--pecan-padding-right) + calc(var(--pecan-text-padding) * 2) + 9ch + calc(var(--pecan-border) * 2));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* Clock -- 5th to left */
.pecanclock {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-pecanclock);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-pecanclock);
  opacity: var(--pecan-opacity-inner);
  padding: 0px var(--pecan-text-padding);
  margin: var(--pecan-border);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: auto;
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-right: calc(var(--pecan-border) + var(--pecan-padding-right));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius);
  border-bottom-right-radius: var(--pecan-border-radius);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}
